/* 当屏幕宽度小于 768px */
@media (min-width: 768px) {

    /* sidebar-toggle */
    body .sidebar-toggle {
        width: 30px;
        height: 100px;
        position: relative;
        top: calc(100vh/2 - 100px);
        left: 300px;
        transition: transform .25s ease-out;
        background: transparent;
    }

    body .sidebar-toggle span:first-child {
        display: block;
        width: 5px;
        height: 15px;
        background-color: #ccc;
        transition: transform 0.1s ease;
        /* 添加过渡效果 */
        border-radius: 100px;
        transform: translateY(5px) rotate(0deg) translateZ(0px);
    }

    body .sidebar-toggle span:last-child {
        display: block;
        width: 5px;
        height: 15px;
        background-color: #ccc;
        transition: transform 0.1s ease;
        /* 添加过渡效果 */
        border-radius: 100px;
        transform: translateY(-5px) rotate(0deg) translateZ(0px);
    }

    body .sidebar-toggle:hover span:first-child {
        transform: translateY(4px) rotate(20deg) translateZ(0px);
        background-color: var(--theme-color, #42b983);
    }

    body .sidebar-toggle:hover span:last-child {
        transform: translateY(-4px) rotate(-20deg) translateZ(0px);
        background-color: var(--theme-color, #42b983);
    }

    body .sidebar-toggle span {
        display: none;
    }

    body.close .sidebar-toggle {
        transform: translateX(-300px);
    }

    body.close .sidebar-toggle:hover span:first-child {
        transform: translateY(4px) rotate(-20deg) translateZ(0px);
        background-color: var(--theme-color, #42b983);
    }

    body.close .sidebar-toggle:hover span:last-child {
        transform: translateY(-4px) rotate(20deg) translateZ(0px);
        background-color: var(--theme-color, #42b983);
    }
}

.sidebar ul,
.sidebar ul li {
    font-weight: bold;
    color: #42b983;
}

.sidebar ul li a {
    font-weight: 500;
    padding-right: 4px;
    color: #545454;
    letter-spacing: 0.4px;
    font-size: 14px;
    filter: blur(0.35px) opacity(0.85);
}

.sidebar ul li.active>a {
    font-weight: 700;
    filter: blur(0px) opacity(1);
}

.sidebar {
    background: #f6f8fa;
    padding-top: 24px;
    /* direction: rtl; */
    /* text-align: right; */
    backdrop-filter: blur(100px);
}